/* GLOBAL STYLES */
:root {
  --color-green: #56FFD6;
  --color-blue: #072740;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

section {
  padding: 50px;
}

ul {
  padding-left: 60px;
}

li, p {
  font-size: 20px;
}


/* NAVBAR STYLES */
.nav-logo {
  height: 60px;
}

.fixed-top.scrolled {
  background-color: var(--color-blue) !important;
  transition: all 200ms linear;

  box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.nav-link {
  color: var(--color-green) !important;
  margin-right: 12.5px;
}


/* BACKGROUND COLORS */
.color-light {
  background-color: var(--color-green);
}

.color-dark {
  background-color: var(--color-blue);
}


/* BUTTONS */
.ghost-cta-button-light {
  background-color: transparent;
  border: 2px solid var(--color-green);
  padding: 10px 15px;
  color: var(--color-green);
  border-radius: 4px;
  transition: all .2s;
  font-size: 20px;
}

.ghost-cta-button-light:hover {
  background-color: var(--color-green);
  color: var(--color-blue);
  text-decoration: none;
}

.ghost-cta-button-dark {
  background-color: transparent;
  border: 2px solid var(--color-blue);
  padding: 10px 15px;
  color: var(--color-blue);
  border-radius: 4px;
  transition: all .2s;
  font-size: 20px;
}

.ghost-cta-button-dark:hover {
  background-color: var(--color-blue);
  color: white;
  text-decoration: none;
}


/* HEADERS */
.main-heading {
  font-size: 65px;
  color: var(--color-green);
  margin-bottom: 20px;
}
.heading-light {
  font-size: 50px;
  color: var(--color-green);
  margin-bottom: 50px;
}

.heading-dark {
  font-size: 50px;
  color: var(--color-blue);
  margin-bottom: 50px;
}

.heading-icon {
  height: 40px;
  transform: translateY(-4px);
  margin-right: 5px;
}

.horizontal-container * {
  text-shadow: 0 3px 5px rgba(0,0,0,.5);
}


/* HEADER SECTION */
.header * {
  color: var(--color-green);
}

.header {
  display: flex;
  align-items: center;
  height: 100vh;
}


/* ABOUT ME SECTION */
.about-me-container {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 30px;
  align-items: center;
}

.about-me-container * {
  color: var(--color-green);
  font-size: 20px;
}

.calix-container {
  /* text-align: center; */
}

.calix-image {
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--color-green);
}

.statistics-container {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.statistics-container * {
  font-weight: bold;
}

.odometer {
  transform: translateY(-2px);
}

.num-commits {
  text-align: left;
}

.num-repos {
  text-align: center;
}

.years-of-programming {
  text-align: right;
}


/* MY PROJECTS */
.my-projects * {
  color: var(--color-blue);
}

.project {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-gap: 75px;
}

.project:not(:last-child) {
  margin-bottom: 75px;
}

.project-logo {
  width: 100%;
}

.project-name {
  font-weight: bold;
  font-size: 30px;
}

.project-description {
  font-size: 20px;
}

.project-btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}

.github-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.github-logo {
  height: 20px;
  margin-right: 6px;
  transform: translateY(-1px);
}

.project-icon {
  width: 30px;
  transform: translateY(-2px);
  margin-right: 5px;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  background-color: rgba(7, 39, 64, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
  color: var(--color-green);
  margin: 3px;
}

.out-btns {
  justify-self: flex-end;
}

.out-btn-icon {
  width: 30px;
}

.out-btn:not(:last-child) {
  margin-right: 10px;
}

.out-btn:hover {
  text-decoration: none;
}

.github-out-btn-icon {
  transform: translateY(3px);
}

.other-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.other-options-grid {
  grid-template-columns: repeat(2, 1fr) !important;
}

.other-out-btns {
  justify-self: flex-end !important;
}

.other-project {
  position: relative;
  background-color: rgba(7, 39, 64, 0.75);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.other-project * {
  color: var(--color-green);
}

.other-project-icon {
  width: 50px;
}

.other-project-title {
  margin-top: 20px;
  font-size: 35px;
  /* word-wrap: break-word; */
}

.other-project-description {
  margin: 0 5px;
  font-size: 17px;
}

.other-tags {
  margin-top: 15px;
}

.other-tags .tag {
  background-color: rgba(147, 224, 201, 0.95);
  color: var(--color-blue);
}


/* MY SKILLS */
.my-skills * {
  color: var(--color-green);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}

.skills-icon {
  width: 40px;
  transform: translateY(-3px);
  margin-right: 5px;
}

.skills-item {
  list-style: none;
}


/* WORK EXPERIENCE */
.work-experience * {
  color: var(--color-blue);
}

.experiences-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;
  margin-bottom: 30px;
}

.experience-head {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-blue);
}

.experience-bottom {
  padding: 10px 0;
  border-top: 1px solid var(--color-blue);
}

.experience-org {
  margin-top: 5px;
}

.see-more {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 !important;
}

.see-more img {
  width: 15px;
  transform: translateY(-1px);
  margin-right: 5px;
}

.see-more:active, .see-more:focus {
  outline: none;
}

.date-icon, .location-icon {
  width: 20px;
  transform: translateY(-2px);
  margin-right: 5px;
}

/* PAST COMPETITIONS */
.past-competitions * {
  color: var(--color-blue);
}

.competitions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;
}

.competition-head {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-blue);
}

.competition-bottom {
  padding: 10px 0;
  border-top: 1px solid var(--color-blue);
}

.see-more {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 !important;
  font-weight: bold;
  font-size: 22.5px;
  margin-bottom: 10px;
}

.see-more:active, .see-more:focus {
  outline: none;
}


/* FUTURE VENTURES */
.future-ventures * {
  color: var(--color-blue);
}

.future-ventures-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 0 50px;
}

.future-venture-icon {
  height: 40px;
  margin-right: 5px;
  transform: translateY(-4px);
}


/* CONTACT ME */
.contact-me * {
  color: var(--color-green);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media-icon {
  width: 50px;
  margin-right: 20px;
}

.social-media-link {
  color: var(--color-blue);
  background-color: rgba(86, 255, 213, 0.5);
  transition: all .2s;
  padding: 3px;
  border-radius: 2px;
}

.social-media-link:hover {
  color: var(--color-blue);
  text-decoration: none;
  background-color: rgba(86, 255, 213, 0.8);
}
